<div class="users-profile-menu">
    <img class="users-profile-img" src="~/image/profile.jpg" />
    <div class="users-profile-name"><text>อธิราช แจ่มวรรณา</text></div>
    <div class="users-profile-line"></div>
    <div class="users-profile-menu-list">
        <div class="users-profile-menu-list-group"><a href="#"><text>โปรไฟล์ของฉัน</text></a></div>
        <div class="users-profile-menu-list-group"><a href="#"><text>คอร์สของฉัน</text></a></div>
        <div class="users-profile-menu-list-group"><a href="#"><text>ใบประกาศนียบัตร</text></a></div>
    </div>
</div>
<div class="farme11292">
    <div class="dpim-form-header">
        <label>โปรไฟล์ของฉัน</label>
    </div>
    <div class="dpim-form">
        <label>ข้อมูลส่วนตัว</label>
    </div>
    <img class="dpim-profile-img" src="~/image/profile.jpg" />
    <a class="dpim-btn dpim-btn-default">เปลี่ยนรูปโปรไฟล์</a>
    <div class="col-md-3">
        <div class="dpim-form-group">
            <label>ชื่อจริง</label>
            <input class="dpim-form-control" />
        </div> 
        </div> 
    <div class="col-md-3" style="margin-left:20px;">
        <div class="dpim-form-group">
            <label>นามสกุล</label>
            <input class="dpim-form-control" />
        </div>
</div>
</div>