@{
    ViewBag.Title = "Instructor Page";
    Layout = "~/Views/Shared/_MainLayoutAdmin.cshtml";
}

<div class="course-title">
    <p class="course-text">คอร์สเรียนทั้งหมด / All Course</p>
</div>

<input type="text" placeholder="ค้นหา..." class="course-search" />
<button class="course-add-instructor">
    <span class="course-text">เพิ่มผู้สอน</span>
</button>

<table class="course-table">
    <tr>
        <td>ชื่อ</td>
        <td>ตำแหน่ง</td>
        <td>อีเมล์</td>
        <td>เบอร์ติดต่อ</td>
        <td></td>
    </tr>
</table>
