<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AppStartup" value="DpimProject.Startup" />
    <add key="UploadPath" value="F:\Project\DpimWork\DpimProject\DpimProject\FileUpload\" />
  </appSettings>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=127.0.0.1;Initial Catalog=DPIM;User ID=sa;Password=sql2468##;MultipleActiveResultSets=True;App=EntityFrameWork" />-->
    <add name="dbProvider" connectionString="default" />
    <add name="vmConnection" connectionString="K+0H4Abb5xn54FuApHspMTjVmfVScBTC72LT1GAJw1o8pznBct0FpyF1mJ3pQlkj6QkifW7g1rU+Jq6Tf1NMLVl0MKZKUGaP2wbFx/x7uaGC0TITG9Z35SlcynnB4KnxfTbTiADFb+RmmbRYt8iLfGo7spz+nRADZgOVyNfxLTrMWqpmIKWSo+5qAgvdlVJoOJdbaG0PFLMGdAR8/w2oIWomvXlkzgMH04tKOU1CReJJySLZ0YtHZ+uRXl/7tq2IZm7HiDzrV5G0sT75wPEaIRR5Ansd3QRKogsSkBHgXRDiv+JzaqeNuRd3MD7c3KVXMsbbkPVlqCTMZ1v6vvLVIgdMuhbFHRO7nZfvSf5LlwwTxk7lKkHlyJhaKjHgYYsH3Or5OSp7Y1txQCT7jrZZ1XyhlyFWJgz6xj0UhO4XZ8E=.cb340d743855ee767159a5415d26fee8981e9983" />
    <!--<add name="vmConnection" connectionString="bg7RnR9kCoCJc2B+imtvL6Hdcn1y3/RomKZWgvq7UIE2P2+IW9D5SHep+6ccvTPAmwCebNevqzz9JSWmg6b96j5YCQotZSivLKHEKT4xGJUWBLoTCLahPid6RZ9DEldMP7KfFQfdDuQYh5OnBZfdToqRHkk5Oy8JIo8SLTLfBA4YSFVLHT3EPVjW2Wy6yeRJoT9pke7Oot1jRXw6J33oU3mERl7tvnvScs9U91JK6vMdLFSuVuVheFU7hkwMkB0xjeJrwodRDiJTO2sE/N+2rdu+n3gKH8sxx8zKTs2Pz+cNO+gQ/OfyDJV0fFlvxz/P2I+E8mtsfxJ7SyR9Ffm7FxAY+xjEIC5TCP+OvpvHv8lde4AuBRNvflLxg049ShxkpQ1lRxklBwn3seVjZxGQM7eokyc5cfS8PRMHtdzHRUU=.1993e70d9d73bbc5667b3daa60cf5d50038b0ecc" />-->

  </connectionStrings>
  <system.web>
    <identity impersonate="false" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="2147483647" />
    <httpCookies sameSite="Lax" requireSSL="false" />




  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
   
</configuration>
