

<div class="navbar-admin-header">
    <a href="@Url.Content("~/Home/Index")" class="logo">
        <img src="~/image/tome1.png" class="navbar-admin-logo" />

        <div class="navbar-admin-brandname">DPIM Academy Admin</div>
    </a>
</div>