
<div class="navbar-guest">
    <img class=" logo-main" src="~/image/image1.png" />
    <span class="artboard-story"></span>
    <input class=" searchbox" placeholder="ค้นหาชื่อคอร์ส" />
    <span class="header-main">
        <a class="btn-main" href="#">คอร์สเรียน</a>
        <a href="#" class="btn-main" >Video on Demand</a>
        <a href="#" class="btn-main">ข่าวสารประชาสัมพันธ์</a>
        <a href="#" class="btn-main">วิธิการใช้งาน</a>
        <a href="#" class="btn-main">คำถามที่พบบ่อย</a>

    </span>
    <a href="#" class="btn-login"><span class="btn-login-group"><text>เข้าสู่ระบบ</text></span></a>
    <a href="@Url.Action("UsersRegister","Authentication")" class="btn-register"><span class="btn-register-group" ><text>สมัครสมาชิก</text></span></a>
</div>