<div class="group254">
    <div class="box-menu-header">
        <span class="group11384">
            <i class="arrow arrow-left"></i>

            <text class="text-top">
                เหมืองแร่ และดินทราย
            </text>
            <text class="text-botton">
                โดย ณัฐวุฒิ พึงเจริญพงศ์ (หมู)
            </text>
        </span>
    </div>

    <div class="group11390">
        <div class="menu-center">
            <div class="group253">
                <i class="menu-ico menu-vector"></i>
                <text>ภาพรวมคอร์ส</text>
            </div>
        </div>
    </div>

    <div class="menu-list">
        <div class="menu-list-body">
            <div class="menu-list-group">
                <i class="menu-ico-rights menu-right"></i>
                <text>แบบทดสอบก่อนเรียน</text>
            </div>
        </div>
    </div>
</div>
